.card{
    margin: 20px;
    border: 2px solid black;
    width: 200px;
    height: 300px;
    border-radius: 2px;
}


img{
    width: 200px;
    height: 126px;
    display: flex;
    justify-content: center;
}

.card p {
    margin:2px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }

  

  .card-component{
    display: flex;
    flex-direction: column;
  }

  h3,h4,p{
    margin: 9px;
    position: relative;
  }