.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.nav-item{
    display: flex;
    list-style: none;
    
}
.nav-item>li{
    margin: 8px;
    padding: 8px;
}

.logo-img>img{
    width: 100px;
    padding: 0px;
    height: 100%;
}

button{
    width: 50px;
}
.active {
    color: rgb(0, 255, 13);
  }