.body-main{
    background-color: beige;
    width: 100%;
}

.res-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top-rated-rest>button{
    width: auto;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.filter{
    display: flex;
    margin-top: 5px;
}

.search-btn{
    width: auto;
    padding: 5px;
    cursor: pointer;
}

.search-input{
    padding: 5px;
}

.search-bar{
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 2px;
}